body {
	text-align: center;
	background-color: #FCFCFC;
	width: 100%;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 );
}
.content {
	margin: 0 auto;
	margin-top: 50px!important;
	display: flex;
	justify-content: space-around;
}

.auto,
.manual {
	width: 400px;
	height: 100%;
	border: 1px solid gainsboro;
	padding: 20px;
	border-radius: 10px;
}
li{
	cursor: pointer;
}
.template{
	height: 465px;
	overflow: hidden;
	overflow-y:scroll;
	padding-right: 10px;
}
.template li {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: right;
	font-weight: bold;
	background-color: #fcfcfc;
}

.manual textarea {
	width: 100%;
	border-radius: 3px;
	/*height: 400px;*/
}

.active {
	background-color: #63B8FF!important;
}

.type {
	color: #63B8FF;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

header {
	padding-bottom: 30px;
	border-bottom: 3px solid black;
}

footer {
	margin-top: 50px!important;
}

#submit {
	border-radius: 5px;
	background-color: #FFFFFF;
}

.clients{
	background-color: #63B8FF!important;
}
/*search*/
.wrap{ 
  position: relative;
  overflow: hidden;
  z-index: 0;  
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
              1px 1px 1px rgba(255,255,255,.4);
}
.wrap:after,
.wrap:before{
  content: '   Search';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,255);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #bababa;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap:hover:after{
  top: -50%;
}
.wrap:hover:before{
  bottom: -50%;
}
.wrap input{
  width: 100%;
  height: 44px;
  padding: 0 65px 0 10px;
  font-size: 16px;
  border:0;
  box-shadow: inset 1px 1px 11px rgba(0,0,0,.3);  
} 
.wrap input:focus { 
  outline: none; 
}
.wrap button{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
  height: 35px;
  cursor: pointer;
}


.right-eye,.left-eye{
  position: absolute;
  width: 61px;
  height: 61px;
  position: absolute;
  top: 19px;
  background: #fff;
  border-radius:50%;
  overflow: hidden;
  box-shadow: 0px 0 1px #fff, inset 0 0 15px rgba(0,0,0,.4);
}
.right-eye {
  left: 127px;
}
.left-eye {
  left: 50px;
}
.eye span{
  position: absolute;
  display: block;
  background: #000;
  border-radius:13px;
  width: 26px;
  height:26px; 
  left: 0;
  top:8px;
}
.wrap h5{
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #777;
}
.edit{
	float: left;
	cursor: pointer;
}
